# Project specific files and directories
components/
temp/
dist/
.sass-cache/

# IDEA specific files and directories
*.iml
*.ipr
*.iws
.idea/

# OS specific files and directories
.DS_Store
.DS_Store?

# General
*.zip